#leftContainer {
  box-sizing: border-box;
  /* border: 5px solid yellow; */
  float: left;
  width: 25%;
  background-color: rgb(132, 60, 11);
}
p {
  margin: 0;
}
hr {
  border-top: 1px solid black;
  border-bottom: none;
}

img {
  display: block;
  margin: auto;
  margin-top: 7px;
}

#name {
  margin: 5px 50px;
  font-weight: bold;
  color: white;
}

#std {
  margin: 5px 70px;
  font-weight: bold;
  color: white;
}

#photo {
  /* border: 5px solid white; */
  background-color: rgb(132, 60, 11);
}
#profile {
  /* border: 5px solid blueviolet; */
  background-color: rgb(197, 89, 17);
  color: white;
  padding: 10px 0px 10px 0px;
}
#objLabel {
  /* border: 5px solid papayawhip; */
  background-color: rgb(132, 60, 11);
  text-align: center;
  font-weight: bold;
  color: white;
}
#obj {
  /* border: 5px solid blue; */
  background-color: rgb(197, 89, 17);
  color: white;
  padding: 10px 0px 10px 0px;
}
#skillLabel {
  /* border: 5px solid gray; */
  background-color: rgb(132, 60, 11);
  text-align: center;
  font-weight: bold;
  color: white;
}
#skill {
  /* border: 5px solid blue; */
  background-color: rgb(197, 89, 17);
  color: white;
  padding: 10px 0px 56px 0px;
}
